:root {
    /*colors*/
    --background-color: rgb(208, 208, 206);
    --white: rgb(255, 255, 255);
    --dark-color-vibrant: rgb(0, 48, 53);
    --mid-color-vibrant: rgb(0, 110, 127);
    --light-color-vibrant: rgb(89, 188, 198);
    --dark-color-neutral: rgb(36, 40, 49);
    --mid-color-neutral: rgb(76, 80, 89);
    --mid-color-neutral-transparent: rgba(76, 80, 89, 0.75);

    /*font families*/
    --font-name: Verdana, Tahoma, sans-serif;
    --font-header: Verdana, Tahoma, sans-serif;
    --font-body: Verdana, Tahoma, sans-serif;

    /*font sizes for desktop and bigger*/
    --font-size-body: 20px;
    --font-size-h3: 40px;
    --font-size-h2: 45px;
    --font-size-name: 106px;

    /*font sizes for tablet*/
    --tablet-font-size-body: 18px;
    --tablet-font-size-h3: 37px;
    --tablet-font-size-h2: 40px;
    --tablet-font-size-name: 103px;

    /*font sizes for phone*/
    --phone-font-size-body: 16px;
    --phone-font-size-h3: 40px;
    --phone-font-size-h2: 25px;
    --phone-font-size-name: 50px;
}

/* changes the look of the selected elements (click and drag) */
::selection {
    background-color: var(--light-color-vibrant);
    color: var(--dark-color-vibrant);
}

* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* full page and background */
body {
    background-color: var(--background-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    min-height: 100vh;
}

/* navigation bar links */
a {
    text-decoration: none;
    color: var(--dark-color-vibrant);
    text-transform: uppercase;
    margin: 0px 20px;
}

/* link change color with hover */
a:hover {
    color: var(--mid-color-vibrant);
}

/* navigation bar */
nav {
    text-align: right;
    margin-top: 30px;
    padding: 5px 125px;
}

#nav-toggle {
    display: none;
}

/* navigational bar text */
.nav-item {
    position: relative;
    color: var(--dark-color-vibrant);
    display: inline;
    font: var(--font-size-h3) var(--font-header);
    margin: 5px;
}

/* bar behind the name and title */
#header-bar {
    min-width: 1920px;
    height: 235px;
    margin: 125px auto;
    height: 260px;
    margin: 25px auto;
    padding: 20px;
    text-align: right;
    background-image: linear-gradient(var(--mid-color-vibrant), var(--light-color-vibrant));
}

/* portfolio header name */
#name {
    color: var(--white);
    font: var(--font-size-name) var(--font-name);
    text-transform: uppercase;
    padding: 10px 145px 0 20px;
    margin: 2px 20px;
}

/* title below name */
#title {
    color: var(--dark-color-vibrant);
    font: var(--font-size-h2) var(--font-header);
    text-transform: uppercase;
    padding: 5px;
    margin: 2px 185px;
}

/* portfolio picture */
#Portfolio-Picture {
    position: relative;
    margin: -380px 20px 10px 55px;
    padding: 0.5rem 1rem;
}

#about-me {
    position: absolute;
    bottom: 160px;
    left: 725px;
    margin: 0px;
    width: 1150px;
}

/* info title font size */
.info-title {
    font-size: var(--font-size-h2);
}

/* titles for all the info sections */
.info-title {
    font: var(--font-size-h2) var(--font-header);
    color: var(--dark-color-vibrant);
    text-transform: uppercase;
    padding: 0px 10px;
    margin: 10px;
}

/* the text in the about me section */
#about-me-text {
    font: var(--font-size-body) var(--font-body);
    color: var(--dark-color-vibrant);
    padding: 20px;
    width: 100%;
}

/* ofset divider in information sections */
/*
#aboutme.info-section-divider {
    position: absolute;
    margin-right: 0;
}
/*

/* information sections */
.info-section {
    display: block;
    position: absolute;
    box-shadow: -10px -10px var(--mid-color-neutral-transparent);
    width: 80%;
    background-color: var(--white);
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: var(--dark-color-vibrant);
    padding: 0px 10px;
    border: 15px solid var(--light-color-vibrant);
    min-height: 355px;
}

#my-work {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    position: absolute;
    top: 800px;
    left: 80px;
    margin: 0px;
    width: 1800px;
}

/* my work card sections */
.card {
    flex: 1 0 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    align-items: center;
    max-width: 1700px;
    min-width: 835px;
}

.card:hover {
    background-color: var(--light-color-vibrant);
    color: var(--dark-color-vibrant);
}

.card-header {
    position: relative;
    top: 20px;
    padding: 20px;
    background: var(--dark-color-vibrant);
    color: var(--white);
    font: var(--font-size-h2) var(--font-header);
    text-transform: uppercase;
    max-width: 1667px;
}

.my-work-link {
    position: relative;
    left: -20px;
}

/* media responsive - tablet */
@media screen and (min-width: 768px) {
    body {
        flex-direction: row;
    }

    /* on tablets, set columns to only be 50% of the width and not grow */
    .card-column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    /* select the last child to grow to full width if it has space to grow */
    .card-column:last-child {
      flex-grow: 1;
    }

    /* info title font size */
    .info-title {
        font-size: var(--tablet-font-size-h2);
    }

    /* info content text font size */
    #about-me-text {
        font-size: var(--tablet-font-size-body);
    }
}
  
/* media responsive - phone */
@media screen and (max-width: 480px) {

    /* menu provided by https://codepen.io/alvarotrigo/pen/yLzaPVJ, https://codepen.io/alvarotrigo */
    #nav-toggle {
        opacity: 0;
    }
    #nav-toggle:checked + .nav-btn > span {
        transform: rotate(45deg);
    }
    #nav-toggle:checked + .nav-btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #nav-toggle:checked + .nav-btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #nav-toggle:checked ~ .nav-menu {
        left: 0 !important;
    }
    .nav-btn {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .nav-btn > span,
    .nav-btn > span::before,
    .nav-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--dark-color-vibrant);
        transition-duration: .25s;
    }
    .nav-btn > span::before {
        content: '';
        top: -8px;
    }
    .nav-btn > span::after {
        content: '';
        top: 8px;
    }
    .nav-menu {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: var(--light-color-vibrant);
        box-shadow: 2px 2px 6px var(--mid-color-neutral-transparent);
        transition-duration: .25s;
    }
    .nav-link {
        display: block;
        padding: 12px 24px;
        color: var(--dark-color-vibrant);
        font-family: var(--font-header);
        font-size: var(--phone-font-size-h2);
        text-decoration: none;
        text-transform: uppercase;
        transition-duration: .25s;
    }
    .nav-link:hover {
        background-color: var(--white);
    }

    /* portfolio header name - mobile size first */
    #name {
        font-size: var(--phone-font-size-name);
        color: var(--white);
        text-transform: uppercase;
        padding: 10px 145px 0 20px;
        margin: 2px 20px;
    }

    h2 {
        font: var(--phone-font-size-h2) var(--font-header);
    }

    h3 {
        font: var(--phone-font-size-h3) var(--font-header);
    }

    /* title below name */
    #title {
        color: var(--dark-color-vibrant);
        text-transform: uppercase;
        padding: 5px;
        margin: 2px 185px;
    }

    /* bar behind the name and title */
    #header-bar {
        width: 100%;
        height: 260px;
        margin: 25px auto;
        padding: 20px;
        text-align: right;
        background-image: linear-gradient(var(--mid-color-vibrant), var(--light-color-vibrant));
    }

    /* portfolio picture */
    #Portfolio-Picture {
        width: 80%;
        position: relative;
        margin: 0 20px;
        padding: 20px;
    }
    
    /* info title font size */
    .info-title {
        font-size: var(--font-size-h2);
    }

    /* info content text font size */
    #about-me-text {
        font-size: var(--font-size-body);
    }

    /* titles for all the info sections */
    .info-title {
        font: var(--phone-font-size-h2) var(--font-header);
        color: var(--dark-color-vibrant);
        text-transform: uppercase;
        padding: 0px 10px;
        margin: 10px;
    }

    /* the text in the about me section */
    #about-me-text {
        font: var(--phone-font-size-body) var(--font-body);
        font-size: 95%;
        color: var(--dark-color-vibrant);
        padding: 20px;
        width: 100%;
    }

    /* ofset divider in information sections */
    .info-section-divider {
        position: absolute;
        margin-right: 0;
        height: 7px;
        width: 330px;
    }

    /* information sections */
    .info-section {
        display: block;
        position: relative;
        box-shadow: -10px -10px var(--mid-color-neutral-transparent);
        width: 80%;
        background-color: var(--white);
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        color: var(--dark-color-vibrant);
        padding: 0px 10px;
        border: 15px solid var(--light-color-vibrant);
    }
}
  