:root {
    /*colors*/
    --background-color: rgb(208, 208, 206);
    --white: rgb(255, 255, 255);
    --dark-color-vibrant: rgb(0, 48, 53);
    --mid-color-vibrant: rgb(0, 110, 127);
    --light-color-vibrant: rgb(89, 188, 198);
    --dark-color-neutral: rgb(36, 40, 49);
    --mid-color-neutral: rgb(76, 80, 89);

    /*font families*/
    --font-name: Verdana, Tahoma, sans-serif;
    --font-header: Verdana, Tahoma, sans-serif;
    --font-copy: Verdana, Tahoma, sans-serif;

    /*font sizes for desktop and bigger*/
    --font-size-main: 20px;
    --font-size-h3: 40px;
    --font-size-h2: 45px;
    --font-size-name: 106px;
}

  /* changes the look of the selected elements (click and drag) */
  ::selection {
    background-color: var(--light-color-vibrant);
    color: var(--dark-color-vibrant);
  }

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#name {
    color: var(--white);
    font: var(--font-size-name) var(--font-name);
    text-transform: uppercase;
    padding: 10px 145px 0 20px;
    margin: 2px 20px;
    text-shadow: -1px 0 var(--white), 0 1px var(--white), 1px 0 var(--white), 0 -1px var(--white);
}

/* title below name */
#title {
    color: var(--dark-color-vibrant);
    font: var(--font-size-h2) var(--font-header);
    text-transform: uppercase;
    padding: 5px;
    margin: 2px 185px;
    text-shadow: -1px 0 var(--dark-color-vibrant), 0 1px var(--dark-color-vibrant), 1px 0 var(--dark-color-vibrant), 0 -1px var(--dark-color-vibrant);
}

/* navigation bar links */
a {
    text-decoration: none;
    color: var(--dark-color-vibrant);
    text-transform: uppercase;
    margin: 0px 20px;
    text-shadow: -1px 0 var(--dark-color-vibrant), 0 1px var(--dark-color-vibrant), 1px 0 var(--dark-color-vibrant), 0 -1px var(--dark-color-vibrant);
}

/* link change color with hover */
a:hover {
    color: var(--mid-color-vibrant);
}

/* navigation bar */
nav {
    text-align: right;
    margin-top: 30px;
    padding: 5px 125px;
}

.nav-item {
    position: relative;
    color: var(--dark-color-vibrant);
    display: inline;
    font: var(--font-size-h3) var(--font-header);
    margin: 5px;
}

#header-bar {
    width: 100%;
    height: 260px;
    margin: 25px auto;
    padding: 20px;
    text-align: right;
    background-image: linear-gradient(var(--mid-color-vibrant), var(--light-color-vibrant));
}

#Portfolio-Picture {
    position: relative;
    margin: -380px 20px 10px 55px;
    padding: 0.5rem 1rem;
}
